@font-face {
    font-family: Helvetica-Bold;
    src: url('Helvetica-Bold.ttf');
}
.root *{
    -fx-font-family: 'Helvetica-Bold';
}

.button
{
-fx-font-family: 'Helvetica-Bold';
-fx-background-color: #00F5D4;
}
.button:hover 
{
-fx-font-size:  16px;
-fx-cursor: hand;
-fx-background-color: #00BBF9;

}
.button:pressed
{
-fx-background-color: #FEE440;
}